*.mp4
*.png
*.webp
*.jpg
*.jpeg
stowables/wallpapers/wallpapers/imgs/*
stowables/wallpapers/wallpapers/favorites/*
stowables/wallpapers/wallpapers/scripts/wallpaper_state.env
utils/tmuxscripts/tmux-paths.md
vaults.md
