*.mp4
*.png
*.webp
*.jpg
/utils/wallpapers/wallpapers/imgs/*
/utils/wallpapers/wallpapers/favorites/*
/utils/wallpapers/wallpapers/scripts/wallpaper_state.env
/utils/tmux/.tmux
utils/tmuxscripts/tmux-paths.md
vaults.md
