# 1. Define the Opener
[opener]
zathura = [
	{ run = 'zathura "$@"', orphan = true, for = "unix" },
]

# 2. Set the Rule
[open]
rules = [
	# Put this rule near the top of the list to ensure it takes precedence
	{ url = "*.pdf", use = "zathura" },
]
