@define-color background {background};
@define-color foreground {foreground};
@define-color pink {color5};
@define-color red {color1};
@define-color green {color2};
@define-color purple {color13};
@define-color blue {color4};